.header {
    .ui.menu {
        background-color: $primary;
        border: 0;

        .item {
            color: $secondary;

            &:hover {
                color: $tertiary;
            }
        }
    }
}